#meters {
    height: 30%;
    width: 100%;
    layout: grid;
    grid-size: 2;
}

.meters-column {
    height: 100%;
    align-vertical: middle;
    width: 100%;
    layout: grid;
    grid-size: 2 4;
    grid-gutter: 0 2;
    padding: 0 1 0 1;
}

.meter {
    height: 1;
    width: 100%;
/*    border: solid green;*/
}


#bot {
    layout: vertical;
    width: 100%;
}


ProcessTable {
    height: 100%;
    width: auto;
    overflow-x: hidden;
}

Footer {
    height: auto;
}
